/*Обнуление*/
*,*:before,*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}



body {
    background-color: #3B181E;
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background-image: url(../img/back-flowers.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    flex: auto;
   }

.container {
    margin:0 auto;
    padding:0 5%;
}

.header__body {
    width: 100%;
    height: 220px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__body a {
    display: flex;
}

.header__logo {
    width: 140px;
    height: 50px;
}

.header__popup {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow:hidden;
    background-color:#3B181E;
    z-index: 50;
}

.header__popup_content {
    display: flex;
    flex-flow: column nowrap;
}

.header__popup_content .header__body {
    width: 54%;
    justify-content: space-between;
    align-self: flex-end;
}


.header__menu {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    position: relative;

}

.header__list {
    width: 450px;
    height: 100%;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
  }

  
.header__list li {
    padding-top:70px;
    list-style:none;
  }

.header__link {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    font-size: 35px;
    letter-spacing:0.09em;
    line-height: auto;
    transition: 0.5s ease;
}

.header__link:hover {
    font-size: 45px;
    color: #fff;
    transition: 0.5s ease;
}

.header__menu .social-media{
    position: absolute;
    bottom:-95px;
    left: -5px;

}

.intro {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 814px;
    justify-content: center;
}

.intro p {
    width: 55%;
    height: 264px;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 120px;
    text-align: center;
    letter-spacing:0.09em;
    line-height: auto;
}

.but *{
    padding: 15px 35px;
    font-weight: 100;
    text-decoration: none;
    border: 1px solid white;
    font-size: 12px;
    letter-spacing:2px;
    text-align: center;
    
}


.button-watch-1 {
    background: rgba(0, 0, 0, 0.4);

}

.button-watch-2 {
    background: white;
    color: black;
}

.but .button-watch-2 {
    display: none;
}

.intro .but:hover .button-watch-1{
    display: none;
}

.intro .but:hover .button-watch-2 {
    display: block;
    background: white;
    color: black;
}

.intro-nav {
    width: 100%;
    height: 240px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-direction: column;
    height: 172px;
    width: 35px;
    padding-right: 10px;
    align-self: center;
 
}

.social-media a:hover *{
    fill: white;
    stroke: rgba(0, 0, 0, 0.6);
}

.social-media a:hover.wsap path{
    stroke:white;
}
.mouse {
    align-self: flex-end;
    display: inline-block;
    width: 35px;
    padding-bottom: 15px;
    height: 70px;
}
.mouse-2 {
    display:none
}

.watch-cat {
    width: 35px;
    height: 211px;
    padding-left: 13px;

}

.mouse:hover .mouse-1{
    display: none;
}

.mouse:hover .mouse-2{
    display: inline-block;
}

.intro-grad {
    position: absolute;
    bottom: 5px;
    height: 75px;
}
.catalog {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-items: center;
    margin-top: 170px;
}

.catalog .zagol {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.zagol::after {
    content: url(../img/Vector2.svg);
}

.cat-backgr {
    font-size: 220px;
    text-align: center;
    letter-spacing:0.06em;
    color: rgba(255, 255, 255, .03);
    line-height: 243px;
    width: 1680px;
    position: absolute;
    top:20px;
}

.cat-menu {
    position: relative;
    margin-top: 70px;
    width: 1520px;
    height: 470px;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
}

.cat-menu div {
    position: relative;
    min-width: 0;
}

.cat-menu img {
    padding: 10px;
    width: 350px;
    height:470px;
}


.cat-menu div .cat-descr{
    padding: 30px;
    top:0px;
    width: 100%;
    height: 100%;
    line-height: 1.7em;
    letter-spacing:0.1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cat-menu p {
    position: relative;

}
.cat-menu p:first-child {
    font-size: 20px;
}
.cat-menu p:first-child::after {
    content: url(../img/Vector1.svg);
}

.cat-menu p:first-child::before {
    content: url(../img/Vector1.svg);
    display: none;
}

.cat-img-hover {
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    display: none;
}

.button-watch {
    background-color: #fff;
    color: black;
    height: 50px;
    width: 200px;
    position: relative;
    padding: 15px 35px;
    font-weight: 100;
    text-decoration: none;
    font-size: 12px;
    letter-spacing:2px;
    line-height: 20px;
}

.button-watch-cat {
    position: absolute;
    bottom:30px;
    left: 30px;
    display: none;
}

.cat-menu div:hover img{
    border: 1px solid rgba(255, 255, 255, 0);
}

.cat-menu div:hover .cat-img-hover{
    border: 1px solid rgba(255, 255, 255, .2);
    display: inline-block;
}
.cat-menu div:hover .button-watch-cat{
    display: inline-block;
}

.cat-menu div:hover p:first-child::after{
    display: none;
}

.cat-menu div:hover p:first-child::before{
    display:inline-block;
}

.cat-menu div:hover p:last-child {
    position: absolute;
    bottom: 100px;
}

.cat-menu.slider_catal {
    width: 740px;
    display: none;
}


.action {
    margin: 160px 0;
    height: 410px;
    width: 1520px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.button-order {
    margin: 15px 0;
    color: #fff;
    height: 45px;
    width: 220px;
    padding: 15px 35px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.08em;
    line-height: 20px;
    background-color: #010010;
    display: none;
}

.order_popup {
    border: 1px solid yellow;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    overflow:hidden;
    z-index:40;
}

.order_popup_content {
    display: flex;
    flex-flow: row nowrap;
    width: 716px;
    height: 444px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    position: absolute;
    top: 30%;
    left: 20%;
}

.order_desc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 380px;
    background-color: #3B181E;
}

.order_desc a {
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.order_desc p {
    font-size: 20px;
    text-align: center;
    width: 230px;
    height: 90px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
}

.order_form {
    display: flex;
    flex-flow: column nowrap;
}

.order_form input:first-child {
    margin-top: 30px;
}

.order_form input:nth-child(2) {
    margin-top: 16px;
}

.order_form input:nth-child(3) {
    margin-top: 27px;
}

input {
    font-family: 'Forum';
}

.form_text {
    font-size: 14px;
    color: #fff;
    width: 250px;
    height: 44px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
}

.button_call {
    font-size: 11px;
    letter-spacing: 0.15em;
    width: 250px;
    height: 44px;
    background-color: #fff;
    color:black;
    text-transform: uppercase;
}

.action p{
    font-size: 14px;
    text-transform: none;
    width: 350px;
    height: 50px;
    line-height: 170%;
    text-align: center;

}

.action .action-zagol {
    margin: 40px 0;
    width: 380px;
    line-height: 40px;
    font-size: 30px;
    display: none;
}

.action .action-zagol:after {
    content: url(../img/Vector2.svg);
}

.action img {
    width: 700px;
    height: 410px;
}

footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.foot-menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow:row nowrap;  
    width: 70%;
    height: 16px;
}

.footer-gran {
    width: 100%;
}


.foot-menu a{
    font-size: 16px;
    height: 16px;
    text-transform: none;
    color: rgba(255, 255, 255, .5);
}

.foot-menu a:hover{
    color: rgba(255, 255, 255, 255);
}

.footer-social.social-media {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 25px;
}

@media (max-width:768px) {
    body {
        background-image: url(../img/back-flowers-720.jpg);
    }
    .container {
        max-width: 640px;
    }
    .intro p {
        font-size: 70px;
        width: 85%;
        margin-bottom: 0;
    }

    .header__burger img{
        width: 40px;
        height: 40px;
    }

    .header__body a p{
        display: none;
    }
    
    .header__popup {
        width: 100%;
    }

    .header__popup_content .header__body {
        width: 63%;
    }

    .header__menu .social-media {
        display: none;
    }

    .but *{
        width: 240px;
    }

    .mouse {
        display: none;
    }

    .watch-cat {
        display: none;
    }

    .intro-grad {
        display: none;
    }

    .intro-nav {
        margin-top: 120px;
    }

    .intro-nav .social-media {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        height: 55px;
        width: 460px;
        padding-right: 10px;
    }

    .social-media a{
        width: 55px;
        background-color: #3B181E;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .catalog {
        margin-top: 100px;
        height: 100%;
    }

    .cat-backgr {
        display:none;
    }

    .cat-menu {
        display:none;
    }

    .cat-menu.slider_catal {
        display: block;
        margin-top: 30px;
    }

    .button-order {
        display: block;
    }

    .action{
        width: 688px;
        margin-top: 200px;
        flex-direction: column-reverse;
    }

    .action p {
        width: 453px;
    }

    .action .action-zagol {
        display: block;
    }

    .action img {
        width: 453px;
        height: 323px;
    }

    .footer-gran path{
        stroke-opacity: 1;
    }

    .foot-menu {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    .foot-menu a {
        font-size: 20px;
        margin: 10px 0;
        letter-spacing: -.05em;
    }

    .order_desc {
        width: 100%;
    }

    .order_desc p {
        width: 75%;
        font-size: 30px;
        margin: 50px 0;
    }

    .order_popup_content {
        width: 464px;
        height: 640px;
    }

    .button_call, .form_text {
        font-size: 20px;
        width: 373px;
        height: 65px;
    }


}

@media (max-width:320px) {
    body {
        background-image: none;
    }
    .container {
        max-width: 280px;
    }

    .background {
        background:url(../img/back-flowers-720.jpg) no-repeat;
        background-size: 320px 466px;
    }

    .intro {
        justify-content: flex-start;
        height: 466px;
    }

    .intro p {
        font-size: 30px;
        line-height: 140%;
        height: 84px;
        margin-top: 100px;
        margin-bottom: 0;
    }

    .header__burger img{
        width: 40px;
        height: 40px;
    }

    .header__body {
        height:64px;
    }

    .header__body .header__logo {
        width: 96px;
        height: 29px;
    }

    .header__body .header__logo img{
        width: 96px;
        height: 29px;
    } 

    .header__popup_content .header__body {
        width: 70%;
    }

    .header__list {
        width: 60%;
    }

    .header__list li {
        padding-top:55px ;
    }

    .header__link {
        font-size: 15px;
    }

    .header__link:hover {
        font-size: 25px;
    }

    .but *{
        margin-top: 35px;
        font-size: 10px;
        width: 177px;
        height: 50px;
        padding: 20px 25px;
    }

    .intro-nav {
        margin-top: 70px;
        margin-bottom: 90px;
        height: 35px;
    }

    .intro-nav .social-media svg {
        width: 18px;
        height: 18px;
    }

    .social-media a{
        width: 35px;
        height: 35px;
    }

    .catalog {
        margin-top: 100px;
        height: 100%;
    }

    .catalog .zagol {
       font-size: 20px;
       align-self: flex-start;
    }

    .catalog .zagol::after {
        display: none;
    }

    .action {
        margin-top: 80px;
        width: 288px;
        flex-direction: column;
    }

    .action img {
        width: 288px;
        height: 170px;
        order: 0;
    }

    .action .action-zagol {
        font-size: 20px;
        line-height: 170%;
        width: 200px;
        text-align: left;
        align-self: flex-start;
        order: 1;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .action p {
        width: 100%;
        text-align: left;
        order: 2;
        margin-bottom: 40px;

    }

    .action a {
        order: 5;
        align-self: flex-start;
        margin-bottom: 100px;
    }

    .cat-menu.slider_catal,.cat-menu.slider_catal div {
        width: 288px;
    }

    .order_popup_content {
        width: 288px;
        height: 426px;
        top:5%;
        left: 5%;
    }

    .order_desc p {
        width: 75%;
        font-size: 20px;
        margin: 25px 0;
    }

    .button_call, .form_text {
        font-size: 14px;
        width: 248px;
        height: 44px;
    }








}